body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #111;
}

/* Main Container */
.container {
    width: 85%;
    margin: 40px auto;
    background-color: #fff;
}

/* Top Bar */
.top-bar {
    background-color: #f2f2f2;
    padding: 15px 30px;
}

.brand {
    color: red;
    font-weight: bold;
}

/* Hero Section */
.hero {
    background-color: #e10600;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 60px 50px;
}

.hero h1 {
    font-size: 42px;
    margin-bottom: 20px;
}

.hero p {
    max-width: 450px;
    line-height: 1.6;
}

.hero-icon span {
    font-size: 120px;
}

/* Bottom Section */
.row {
    display: flex;
}

.column {
    flex: 1;
    padding: 40px 30px;
    background-color: #7a0000;
    color: white;
    border-right: 2px solid #e10600;
}

.column:last-child {
    border-right: none;
}

.column h3 {
    margin-bottom: 20px;
}

.column p {
    line-height: 1.6;
    font-size: 14px;
}
