body {
    font-family: Arial, sans-serif;
    background: #eee;
    margin: 0;
    padding: 20px;
    text-align: center;
}

.box {
    width: 300px;
    margin: auto;
    background: #6c63ff;
    padding: 20px;
    color: white;
}

ul {
    list-style-type: disc;
    text-align: left;
}

ul li {
    margin: 10px 0;
}

a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.city {
    width: 600px;
    margin: auto;
    background: #6c63ff;
    color: white;
    padding: 20px;
}

.images {
    margin: 20px 0;
}

.images img {
    width: 120px;
    height: 120px;
}

.left {
    float: left;
}

.center {
    display: inline-block;
}

.right {
    float: right;
}

p {
    clear: both;
    text-align: justify;
    margin-top: 15px;
}
