body {
    font-family: Arial;
    background-color: #f2f2f2;
}

.container {
    width: 700px;
    margin: 20px auto;
    padding: 20px;
    border: 2px solid green;
    background-color: white;
}

h1 {
    color: black;
}

.cat-image {
    float: right;
    width: 200px;
    margin-left: 20px;
}

a {
    color: blue;
}